.sucessForm {
  width: 80vw;
  display: flex;
  justify-content: center;
}

.sucessForm > button {
  position: absolute;
  top: 25px;
  right: 25px;
  border: 2px solid white;
  color: white;
  background-color: gray;
  padding: 2vh 4vh;
  border-radius: 10px;
  font-weight: 700;
}

.sucessForm > button:hover {
  background-color: palevioletred;
}

.sucessForm > h1 {
  color: white;
}

@media (min-width: 375px) and (max-width: 580px) {
  .sucessForm {
    width: 65vw;
  }
}
